---
import { Image } from "astro:assets";


---

<header>
    <span>Green Software <Image src="/favicon.svg" height={30} width={30} alt={"Hoja"}></Image></span>
    <nav>
        <a href="#inicio">Inicio</a>
        <a href="#mapamental">Mapa Mental</a>
        <a href="#morecontent">Más Contenido</a>
    </nav>
</header>

<style>
    header {
        width: 100%;
        height: 100px;
        background-color: transparent;
        backdrop-filter: blur(5px);
        color: white;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0px;
    }
    span {
        font-size: xx-large;

    }
    nav{
        width: 40%;
        display: flex;
        gap: 5%;
        justify-content: end;

    }
    a{
        color: white;
        &:hover{
            color: gray;
        }
    }
</style>
